<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693974792181-00gfscjud04s227mrh3n7comqqkltejh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693974792181-00gfscjud04s227mrh3n7comqqkltejh</string>
	<key>API_KEY</key>
	<string>AIzaSyCY6asBgM0lUP4fPPBdL-etxEJObOTkS1I</string>
	<key>GCM_SENDER_ID</key>
	<string>693974792181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.PushNotifications</string>
	<key>PROJECT_ID</key>
	<string>sample-3ccd8</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-3ccd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693974792181:ios:1170369c0d0bfcdfb452bc</string>
</dict>
</plist>